@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

body{

    background-color: rgb(245, 245, 245) ;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.blue{
    color: #0071ba;
}


.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: black;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: white;
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

a{
    text-decoration: none;
    position: relative;
}




/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 16vh;
    padding: 0 24px;
    background-color: #fff;
    
}

.nav__container{
    background-color: #fff;
}

/* nav{
  background:#ffff;
  height:12vh;
  z-index:999;
  margin:0 auto;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    font-size: 16px;
    color: rgb(128, 126, 126);
    font-weight: 700;
}

#personal-logo{
    height: 90px;
    width: 380px;
    padding-top: 8px;   
} 



.btn__menu{
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    border: none;
    color: #0071ba;
    font-weight: lighter;
    display: none;
    cursor: pointer;
    
    
}


.menu__backdrop{
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    top: 60px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 31vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;   
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@keyframes slide-out{
    0%{
        transform: translateX(-35%);
    }
    100%{

    }
}
.menu--open .b{
    visibility: hidden;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
    animation: slide-in 400ms;
    position: fixed;
}

@keyframes slide-in{
    0%{
        transform: translateX(35%);
    }
    50%{
        transform: translate(-15%);
    }
    100%{

    }
}
.menu__links{
    list-style: none;
    text-align: center;
    margin-top: 56px;
}

.menu__link{
    font-size: 18px;
    font-weight: 600;
    color: #243e63;
    line-height: 3.0em;
}

.menu__link--a{
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
}
.menu__link--signUp{
    color: white;
}

.menu__link--a:hover{  
    border-color: #0071ba;;
    color: #0071ba;
    
}


.btn__menu--close{
    position: absolute;
    right: 30px;
    top: 15px;
    padding: 8px;
}





/* LOGIN SECTION */

.contain{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    
    width: 480px;
    max-width: 480px;
    margin: 20vh;
    padding: 2rem;
    font-size: 18px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: #fff;
    
    
}

.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}

.form > *:last-child{
    margin-bottom: 0;
}

.form__title{
    margin-bottom: 2rem;
    text-align: center;
    color:  #0071ba;
}

.form__message{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16px;
}

.form__message--sucess{
    color: green;
}

.form__message--error{
    color: red;
}

.form__input-group{
    margin-bottom: 1rem;
}

.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus{
    border-color: #0071ba;
    background: #fff;
}

.form__input--error{
    color: red;
    border-color: red;
}

.form__input-error-message{
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: red;
}

.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: #0071ba;
}

.form__button:hover{
    background-color: #057bca;
}

.form__button:active{
    transform: scale(0.98);
}

.form__text{
    text-align: center;
    margin-top: 1rem;
}

.form__link{
    color:rgb(128, 126, 126);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}





/* FOOTER */

.container{
    padding: 50px 0;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: #242424;
    /* display: flex; */
    padding: 6% 0;
    position: relative;
}


.footer__logo--img{
    width: 260px;
    /* height: 70px; */
    /* filter: invert(1); */
    transform: translateX(80px);
}

.modal__medias{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal__media{
    transform: translateX(90px);
    margin-top: 24px;  
}

.modal__media--img{
    transition: all 300ms ease;
    filter: invert(1);
}
.modal__media--img:hover{
    transform: scale(1.2);
    filter: invert(2);
}

.footer__social--list{
    width: 50%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
    
}

.footer__social--link,
.footer__copyright{
    color: white;
}

.footer__booking--wrapper{
    margin-right: 36px;
    font-weight: 500;
    
}

.footer__booking--link{
   color: #fff;
   font-weight: 600;
}

.footer__contact--wrapper{
    margin-right: 36px;
    color: #fff;
}

.footer__contact--title{
    margin-bottom: 4px;
}

.footer__contact--para{
    margin-bottom: 2px;
}

.footer__location--wrapper{
    margin-right: 36px;
    color: #fff;
}

.footer__location--title{
    margin-bottom: 4px;
}

.footer__copyright{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    font-size: 16px;
    text-align: center;
}



@media(max-width:1060px){
    .btn__menu{
        display: block;
    }

    .nav__link--list{
        display: none;
    }
}


@media(max-width: 980px){

    .form__text{
        font-size: 16px;
    }
    

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__social--list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        max-width: none;
        align-items: center;
        padding: 0 16px;
        margin-top: 50px;
    }

    .footer__logo--img{
        transform: translateX(0px);
    }

    .modal__media{
        transform: translateX(0px);
    }

}


@media(max-width:768px){
    
    

    .about-us--para{
        margin-bottom: 16px;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__social--list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__social--link{
        text-align: center;
    }


    .footer__booking--link{
        font-size: 20px;
        text-align: center;
    }

    .footer__contact--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    .footer__location--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    .footer__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .footer__copyright{
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    #personal-logo{
        width: 240px;
    }
}


@media(max-width:495px){

    #personal-logo{
        width: 200px;
    }

}

@media(max-width:380px){
    .footer__copyright{
        padding: 0 6px;
    }
}