@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    position: relative;
}

html{
    scroll-behavior: smooth;
}

.blue{
    color: #0071ba;
}


.link__hover-effect:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: black;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: white;
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;
}

/* NAVIGATION */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 16vh;
    padding: 0 20px;
}

.nav__link--list{
    display: flex;
}

.nav__link{
    margin: 0 12px;
}

.nav__link--anchor{
    font-size: 16px;
    color: rgb(128, 126, 126);
    font-weight: 700;
}

#personal-logo{
    height: 90px;
    width: 380px;
    padding-top: 8px;
       
}


.btn__menu{
    background-color: transparent;
    font-size: 32px;
    text-align: center;
    border: none;
    color: #0071ba;
    font-weight: lighter;
    display: none;
    cursor: pointer;
    
    
}


.menu__backdrop{
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    top: 60px;
    left: 0;
    right: 0;
    width: 100vw;
    height: 35vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;   
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

@keyframes slide-out{
    0%{
        transform: translateX(-35%);
    }
    100%{

    }
}
.menu--open .b{
    visibility: hidden;
}

.menu--open .menu__backdrop{
    visibility: visible;
    opacity: 1;
    animation: slide-in 400ms;
    position: fixed;
}

@keyframes slide-in{
    0%{
        transform: translateX(35%);
    }
    50%{
        transform: translate(-15%);
    }
    100%{

    }
}
.menu__links{
    list-style: none;
    text-align: center;
    margin-top: 56px;
}

.menu__link{
    font-size: 18px;
    font-weight: 600;
    color: #243e63;
    line-height: 3.0em;
}

.menu__link--a{
    transition: all 300ms ease;
    border-bottom: 2px solid transparent;
}
.menu__link--signUp{
    color: white;
}

.menu__link--a:hover{  
    border-color: #0071ba;;
    color: #0071ba;
    
}


.btn__menu--close{
    position: absolute;
    right: 30px;
    top: 15px;
    padding: 8px;
}





/* NEWS AND EVENTS */

.newsNEvent{
    background-color: rgb(245, 245, 245) ;
}

#newsAndEvents{
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    margin: 0 auto;
    
}

.newsAndEvents__title{
font-size: 36px;
border-bottom: 4px solid rgb(128, 126, 126);
color: #0071ba;
margin-top: 24px;
margin-bottom: 24px;
padding-left: 24px;
}

.newsAndEvents__calendar{
    width: 800px;
    height: 640px;
    margin: 36px auto;
    
}



/* FOOTER */

.container{
    padding: 50px 0;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

footer{
    background-color: #242424;
    /* display: flex; */
    padding: 6% 0;
    position: relative;
}


.footer__logo--img{
    width: 260px;
    /* height: 70px; */
    /* filter: invert(1); */
    transform: translateX(80px);
}

.modal__medias{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.modal__media{
    transform: translateX(90px);
    margin-top: 24px;  
}

.modal__media--img{
    transition: all 300ms ease;
    filter: invert(1);
}
.modal__media--img:hover{
    transform: scale(1.05);
    filter: invert(2);
}

.footer__social--list{
    width: 50%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
}

.footer__social--link,
.footer__copyright{
    color: white;
}

.footer__booking--wrapper{
    margin-right: 36px;
    font-weight: 500;
    
}

.footer__booking--link{
   color: #fff;
   font-weight: 600;
}

.footer__contact--wrapper{
    margin-right: 36px;
    color: #fff;
}

.footer__contact--title{
    margin-bottom: 4px;
}

.footer__contact--para{
    margin-bottom: 2px;
}

.footer__location--wrapper{
    margin-right: 36px;
    color: #fff;
}

.footer__location--title{
    margin-bottom: 4px;
}

.footer__copyright{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    font-size: 16px;
}





@media(max-width:1060px){
    .btn__menu{
        display: block;
    }

    .nav__link--list{
        display: none;
    }
}

@media(max-width: 980px){

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__social--list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        max-width: none;
        align-items: center;
        padding: 0 16px;
        margin-top: 50px;
    }

    .footer__logo--img{
        transform: translateX(0px);
    }

    .modal__media{
        transform: translateX(0px);
    }

    .newsAndEvents__calendar{
        width: 95%;
    }

}


@media (max-width: 768px){

    #personal-logo{
        width: 240px;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__social--list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__social--link{
        text-align: center;
    }


    .footer__booking--link{
        font-size: 20px;
        text-align: center;
    }

    .footer__contact--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    .footer__location--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    .footer__row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }

    .footer__copyright{
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .newsAndEvents__calendar{
        width: 100%;
    }

    .newsAndEvents__title{
        text-align: center;
    }
    

} 

@media(max-width:380px){
    .footer__copyright{
        padding: 0 6px;
    }
}